@import '../../utils/variables.scss';

//// ICONS HEADER ////

@media(min-width:1023px){
    :global(.vtex-flex-layout-0-x-flexCol--icons-header){
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 50%;
            width: 1px;
            height: 100%;
            background-color: #000;
        }
    }
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header),
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content){
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    @media(max-width:1023px){
        gap: 10px;
    }
    .container{
        :global(.vtex-button){
            position: relative;
            border: none;
            @media(max-width:1023px){
                &::after{
                    content: '';
                    position: absolute;
                    left: 150%;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background-color: #000;
                }
            }
            &::before{
                content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none"><path d="M16.6337 13.0822C18.4507 11.893 19.6833 9.86842 19.6833 7.53333C19.6833 3.85049 16.6828 0.85 13 0.85C9.31716 0.85 6.31667 3.85049 6.31667 7.53333C6.31667 9.86842 7.54934 11.893 9.36629 13.0822C4.53604 14.5384 0.982071 18.9826 0.850046 24.3296L0.85 24.3296V24.3333C0.85 24.4508 0.869761 24.5555 0.912928 24.6526C0.955806 24.7491 1.01841 24.8305 1.09393 24.9061C1.16946 24.9816 1.25094 25.0442 1.34741 25.0871C1.44454 25.1302 1.54916 25.15 1.66667 25.15H24.3333C24.4508 25.15 24.5555 25.1302 24.6526 25.0871C24.7491 25.0442 24.8305 24.9816 24.9061 24.9061C25.0694 24.7428 25.15 24.5038 25.15 24.3333H25.15L25.15 24.3296C25.0179 18.9826 21.464 14.5384 16.6337 13.0822ZM7.95 7.53333C7.95 4.74951 10.2162 2.48333 13 2.48333C15.7838 2.48333 18.05 4.74951 18.05 7.53333C18.05 10.3166 15.7848 12.5824 13.0018 12.5833C10.2141 12.5176 7.95 10.2481 7.95 7.53333ZM23.4354 23.5167H2.5646C3.09976 18.2075 7.53334 14.15 13 14.15C18.4667 14.15 22.9002 18.2075 23.4354 23.5167Z" fill="black" stroke="black" stroke-width="0.3"/></svg>');
                display: block;
                background-size: cover;
            }
            &:hover{
                background-color: transparent;
            }
            :global(.vtex-button__label){
                display: none;
            }
        }
    } 
    :global(.vtex-minicart-2-x-minicartContainer--minicartCustom){
        :global(.vtex-minicart-2-x-openIconContainer--minicartCustom){
            padding: 0;
            :global(.vtex-button){
                border: none;
                &:hover{
                    background-color: transparent;
                }
                &:focus{
                    background-color: transparent;
                }
                :global(.vtex-button__label){
                    padding: 0;
                    &::before{
                        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="25" viewBox="0 0 22 25" fill="none"><path d="M19.25 6.25H16.5C16.5 4.5924 15.9205 3.00268 14.8891 1.83058C13.8576 0.65848 12.4587 0 11 0C9.54131 0 8.14236 0.65848 7.11091 1.83058C6.07946 3.00268 5.5 4.5924 5.5 6.25H2.75C2.02065 6.25 1.32118 6.57924 0.805456 7.16529C0.289731 7.75134 0 8.5462 0 9.375L0 19.7917C0.00145554 21.1725 0.484808 22.4963 1.34403 23.4727C2.20326 24.4491 3.3682 24.9983 4.58333 25H17.4167C18.6318 24.9983 19.7967 24.4491 20.656 23.4727C21.5152 22.4963 21.9985 21.1725 22 19.7917V9.375C22 8.5462 21.7103 7.75134 21.1945 7.16529C20.6788 6.57924 19.9793 6.25 19.25 6.25ZM11 2.08333C11.9725 2.08333 12.9051 2.52232 13.5927 3.30372C14.2804 4.08512 14.6667 5.14493 14.6667 6.25H7.33333C7.33333 5.14493 7.71964 4.08512 8.40728 3.30372C9.09491 2.52232 10.0275 2.08333 11 2.08333ZM20.1667 19.7917C20.1667 20.6205 19.8769 21.4153 19.3612 22.0014C18.8455 22.5874 18.146 22.9167 17.4167 22.9167H4.58333C3.85399 22.9167 3.15451 22.5874 2.63879 22.0014C2.12306 21.4153 1.83333 20.6205 1.83333 19.7917V9.375C1.83333 9.09873 1.92991 8.83378 2.10182 8.63843C2.27373 8.44308 2.50688 8.33333 2.75 8.33333H5.5V10.4167C5.5 10.6929 5.59658 10.9579 5.76849 11.1532C5.94039 11.3486 6.17355 11.4583 6.41667 11.4583C6.65978 11.4583 6.89294 11.3486 7.06485 11.1532C7.23676 10.9579 7.33333 10.6929 7.33333 10.4167V8.33333H14.6667V10.4167C14.6667 10.6929 14.7632 10.9579 14.9352 11.1532C15.1071 11.3486 15.3402 11.4583 15.5833 11.4583C15.8264 11.4583 16.0596 11.3486 16.2315 11.1532C16.4034 10.9579 16.5 10.6929 16.5 10.4167V8.33333H19.25C19.4931 8.33333 19.7263 8.44308 19.8982 8.63843C20.0701 8.83378 20.1667 9.09873 20.1667 9.375V19.7917Z" fill="black"/></svg>');
                        display: block;
                        background-size: cover;
                        margin-bottom: 3px;
                    }
                    :global(.vtex-minicart-2-x-minicartIconContainer--minicartCustom){
                        :global(.vtex-store-icons-0-x-cartIcon){
                            display: none;
                        }
                        :global(.vtex-minicart-2-x-minicartQuantityBadge--minicartCustom){
                            background-color: #000c7a;
                            right: unset;
                            left: -14px;
                        }
                    }
                }
            }
        }
    }
}


