.relatedProducts--productos-relacionados {
  padding: 0px 40px 60px;
}
@media (max-width: 1023px) {
  .relatedProducts--productos-relacionados {
    padding: 0px 20px 40px;
  }
}
.relatedProducts--productos-relacionados .title--productos-relacionados {
  font-size: 28px;
  color: #000;
  justify-content: flex-start;
}
