:global(.vtex-flex-layout-0-x-flexRow--availability-notify) {
  margin-top: 1.3125rem;
}
@media (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexRow--availability-notify) .notiferContainer {
    padding: 0 0.9375rem;
  }
}
:global(.vtex-flex-layout-0-x-flexRow--availability-notify) .title {
  margin-bottom: 0.5625rem;
}
:global(.vtex-flex-layout-0-x-flexRow--availability-notify) .notifyLabel {
  margin-bottom: 1.25rem;
  font-size: 0;
  visibility: hidden;
}
:global(.vtex-flex-layout-0-x-flexRow--availability-notify) .notifyLabel::before {
  content: "Dejanos tu email y te avisamos cuando vuelva a estar en stock.";
  font-size: 16px;
  visibility: visible;
}
:global(.vtex-flex-layout-0-x-flexRow--availability-notify) .form {
  margin-bottom: 0;
}
:global(.vtex-flex-layout-0-x-flexRow--availability-notify) .content {
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexRow--availability-notify) .content {
    display: flex;
    gap: 0.75rem;
  }
}
:global(.vtex-flex-layout-0-x-flexRow--availability-notify) .content .input {
  width: calc(50% - 0.25rem);
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexRow--availability-notify) .content .input {
    width: 100%;
  }
}
:global(.vtex-flex-layout-0-x-flexRow--availability-notify) .content .input :global(.vtex-input-prefix__group) {
  border-radius: 1.5rem;
  border: 1px solid #adadad;
  padding: 0 0.875rem;
}
:global(.vtex-flex-layout-0-x-flexRow--availability-notify) .content .input :global(.vtex-styleguide-9-x-input) {
  padding: 0;
  border-radius: 0;
}
:global(.vtex-flex-layout-0-x-flexRow--availability-notify) .content .submit {
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexRow--availability-notify) .content .submit {
    margin-top: 0;
  }
}
:global(.vtex-flex-layout-0-x-flexRow--availability-notify) .content .submit :global(.vtex-button) {
  width: 100%;
  padding: 0;
  margin: 0 0 1.875rem 0;
  border: 0;
  border-radius: 2.125rem;
  transition: all 0.3s ease;
  font-weight: 300;
  height: 35px;
}
:global(.vtex-flex-layout-0-x-flexRow--availability-notify) .content .submit :global(.vtex-button__label) {
  padding: 0;
  margin: 0;
  text-transform: none;
  font-size: 16px;
}
