.flexRowContent--home-block-4 {
  flex-direction: column;
}

:global(.vtex-rich-text-0-x-container--home-block-4) {
  width: 100%;
  margin-right: 2rem;
  margin-left: 6rem;
  justify-content: flex-start;
  font-size: 1.5rem;
}

.flexRowContent--home-block-6 {
  flex-direction: column;
}

:global(.vtex-rich-text-0-x-container--home-block-6) {
  width: 100%;
  margin-right: 2rem;
  margin-left: 6rem;
  justify-content: flex-start;
  font-size: 1.5rem;
}

.flexRowContent--home-block-7 {
  flex-direction: column;
}

:global(.vtex-rich-text-0-x-container--home-block-7) {
  width: 100%;
  margin-right: 2rem;
  margin-left: 6rem;
  justify-content: flex-start;
  font-size: 1.5rem;
}
