// Colores principales
$color-gray: #6e6e6e;
$color-blue: #000c7a;
$color-red: #db0000;
$color-black: #000;
$color-light-gray: #929292;
$color-yellow: #ffa700;

// Colores de fondo
$color-overlay: rgba(0, 0, 0, 0.50);

// Colores de bordes
$color-border: #6e6e6e;

// Font sizes (basados en style.json)
$font-size-xxl: 3rem;    // 48px
$font-size-xl: 2.25rem;  // 36px
$font-size-lg: 1.75rem;  // 28px
$font-size-md: 1.5rem;   // 24px
$font-size-base: 1.25rem; // 20px
$font-size-sm: 1rem;     // 16px
$font-size-xs: 0.875rem; // 14px
$font-size-xxs: 0.75rem; // 12px


