@media (min-width: 1023px) {
  :global(.vtex-flex-layout-0-x-flexCol--icons-header) {
    position: relative;
  }
  :global(.vtex-flex-layout-0-x-flexCol--icons-header)::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #000;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header),
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
@media (max-width: 1023px) {
  :global(.vtex-flex-layout-0-x-flexCol--icons-header),
  :global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) {
    gap: 10px;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header) .container :global(.vtex-button),
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) .container :global(.vtex-button) {
  position: relative;
  border: none;
}
@media (max-width: 1023px) {
  :global(.vtex-flex-layout-0-x-flexCol--icons-header) .container :global(.vtex-button)::after,
  :global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) .container :global(.vtex-button)::after {
    content: "";
    position: absolute;
    left: 150%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #000;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header) .container :global(.vtex-button)::before,
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) .container :global(.vtex-button)::before {
  content: url("/arquivos/log-abolu.svg");
  width: 30px;
  height: 30px;
  display: block;
  background-size: cover;
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header) .container :global(.vtex-button):hover,
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) .container :global(.vtex-button):hover {
  background-color: transparent;
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header) .container :global(.vtex-button) :global(.vtex-button__label),
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) .container :global(.vtex-button) :global(.vtex-button__label) {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom),
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) {
  padding: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button),
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button) {
  border: none;
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button):hover,
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button):hover {
  background-color: transparent;
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button):focus,
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button):focus {
  background-color: transparent;
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button) :global(.vtex-button__label),
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button) :global(.vtex-button__label) {
  padding: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button) :global(.vtex-button__label)::before,
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button) :global(.vtex-button__label)::before {
  content: url("/arquivos/cart-abolu.svg");
  width: 30px;
  height: 30px;
  display: block;
  background-size: cover;
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-minicart-2-x-minicartIconContainer--minicartCustom) :global(.vtex-store-icons-0-x-cartIcon),
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-minicart-2-x-minicartIconContainer--minicartCustom) :global(.vtex-store-icons-0-x-cartIcon) {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexCol--icons-header) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-minicart-2-x-minicartIconContainer--minicartCustom) :global(.vtex-minicart-2-x-minicartQuantityBadge--minicartCustom),
:global(.vtex-flex-layout-0-x-flexRowContent--bottom-header-mobile-content) :global(.vtex-minicart-2-x-minicartContainer--minicartCustom) :global(.vtex-minicart-2-x-openIconContainer--minicartCustom) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-minicart-2-x-minicartIconContainer--minicartCustom) :global(.vtex-minicart-2-x-minicartQuantityBadge--minicartCustom) {
  background-color: #000c7a;
  right: unset;
  left: -14px;
}
