.flexRow--form-contacto :global(.vtex-store-components-3-x-container) {
  padding: 0;
}
.flexRow--form-contacto .flexRowContent--form-contacto {
  display: flex;
  flex-direction: column;
  position: relative;
}
.flexRow--form-contacto .flexRowContent--form-contacto .stretchChildrenWidth {
  width: 100% !important;
}
@media (max-width: 1023px) {
  .flexRow--form-contacto .flexRowContent--form-contacto .stretchChildrenWidth :global(.vtex-store-components-3-x-imageElement--contact-us-image) {
    height: 800px;
  }
}

.flexCol--formulario_contacto {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 40px;
  z-index: 2;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  height: auto;
  transform: translateY(-50%);
}
@media (max-width: 1023px) {
  .flexCol--formulario_contacto {
    width: 90% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
}
.flexCol--formulario_contacto :global(.vtex-rich-text-0-x-headingLevel2--title_form) {
  color: #000c7a;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
}
.flexCol--formulario_contacto :global(.vtex-rich-text-0-x-headingLevel4--title_form) {
  font-size: 20px;
  color: #000c7a;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
}
.flexCol--formulario_contacto :global(.vtex-rich-text-0-x-headingLevel4--title_form) {
  line-height: 1.5;
  font-size: 16px;
}
