.filterMessage {
    // color: #000c7a;
    margin: 0.9rem 0 1rem;
    font-weight: 500;
}
.filterTitleSpan {
    text-transform: capitalize;
    font-weight: 500;
}
.filter__container--selectedFilters {
    display: none;
}
.filterSelectedFilters {
    display: none;
}
.filter__container--tamano, .filter__container--color {
    display: none;
}
:global(.vtex-breadcrumb-1-x-link--breadcrumb--search) {
    text-transform: capitalize;
}
:global(.vtex-checkbox__line-container) {
    align-items: center;
}

:global(.vtex-product-price-1-x-sellingPrice--summary--hasListPrice) {
    :global(.vtex-product-price-1-x-currencyFraction--summary) {
      color: red !important;
    }
    :global(.vtex-product-price-1-x-currencyInteger--summary) {
      color: red !important;
    }
    :global(.vtex-product-price-1-x-currencyCode--summary) {
      color: red !important;
    }
    :global(.vtex-product-price-1-x-currencyGroup--summary) {
      color: red !important;
    }
  }

  :global(.vtex-product-price-1-x-sellingPrice--hasListPrice) {
    :global(.vtex-product-price-1-x-currencyFraction) {
      color: red !important;
    }
    :global(.vtex-product-price-1-x-currencyInteger) {
      color: red !important;
    }
    :global(.vtex-product-price-1-x-currencyCode) {
      color: red !important;
    }
    :global(.vtex-product-price-1-x-currencyDecimal) {
      color: red !important;
    }
    :global(.vtex-product-price-1-x-currencyGroup) {
      color: red !important;
    }
  }

  :global(.vtex-product-price-1-x-currencyContainer--summary) {
    :global(.vtex-product-price-1-x-currencyInteger--summary) {
      color: #7f7f7f;
    }
    :global(.vtex-product-price-1-x-currencyGroup--summary) {
      color: #7f7f7f;
    }
    :global(.vtex-product-price-1-x-currencyInteger--summary) {
      color: #7f7f7f;
    }
    :global(.vtex-product-price-1-x-currencyCode--summary) {
      color: #7f7f7f;
    }
  }

  :global(.vtex-product-price-1-x-sellingPrice--summary) {
    :global(.vtex-product-price-1-x-currencyInteger--summary) {
      color: black;
    }
    :global(.vtex-product-price-1-x-currencyGroup--summary) {
      color: black;
    }
    :global(.vtex-product-price-1-x-currencyInteger--summary) {
      color: black;
    }
    :global(.vtex-product-price-1-x-currencyFraction--summary) {
      color: black;
    }
    :global(.vtex-product-price-1-x-currencyCode--summary) {
      color: black;
    }
  }