@import "../utils/media.scss";

:global(.vtex-search-result-3-x-searchResultContainer) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.flexCol--content-sabana-col {
    flex-direction: row;
    padding: 45px;
    padding-right: 0;
    .flexRowContent--container-sabana {
        flex-direction: column;
    }
    .flexColChild--content-sabana-col:first-child {
        width: 20%;
    }
    .flexColChild--content-sabana-col:last-child {
        width: 80%;
    }
}
.flexRow--breadcrumbs {
    padding-top: 10px;
    padding-left: 45px;
    @include respond(phone) {
        padding-top: 1.5rem;
        padding-left: 10px;
      }
}
.flexRowContent--content-row-sabana {
    flex-direction: column;
    .flexRowContent--orderByAndSwitcher {
        justify-content: space-between;
        :global(.vtex-flex-layout-0-x-flexColChild--productCountCol) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            :global(.vtex-search-result-3-x-totalProducts--layout) {
                text-transform: capitalize;
                font-size: 15px;
                padding: 0;
                padding-left: 0.5em;
            }
        }
        :global(.vtex-search-result-3-x-filterPopupTitle) {
            text-transform: capitalize;
            font-size: 15px;
        }
    }
    .flexRowContent--orderByAndSwitcher-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .flexRowContent--container-sabana {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.flexRowContent--orderByAndSwitcher-mobile {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 3rem;
    border-bottom: 1px solid #f2f4f5;
    :global(.vtex-search-result-3-x-orderBy--layout) {
        display: flex;
        align-items: center;
        justify-content: center;
        :global(.vtex-search-result-3-x-orderByButton) {
            padding: 0;
            :global(.vtex-search-result-3-x-orderByText) {
                display: block;
                color: #3f3f40;
            }
        }
    }
    :global(.vtex-search-result-3-x-orderByOptionsContainer) {
        left: -25px;
    }
    
}
:global(.vtex-search-result-3-x-totalProducts--layout) {
    @include respond(phone) {
        border: none;
      }
}