@import '../../utils/variables.scss';

//// MENU DEPARTAMENTOS DESKTOP ////
:global(.vtex-mega-menu-2-x-triggerContainer){
  position: relative;
  display: inline-block;
  cursor: pointer;
  display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease-in-out;
    padding: 0;

  &::after {
    content: 'DEPARTAMENTOS';
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: $color-gray;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: $color-blue;
    transition: width 0.3s;
    z-index: 0;
  }

  &:hover::after {
    color: $color-blue;
  }

  &:hover::before {
    width: 100%;
  }
}

//// SUBMENU DESKTOP ////
:global(.vtex-mega-menu-2-x-menuContainerNav){
    max-width: 85vw !important;
    height: 80vh !important;
    max-height: 80vh !important;
    background-color: #fff;
    :global(.vtex-mega-menu-2-x-menuContainer){
        font-size: 14px;
        line-height: 18px;
        text-decoration: none;
        color: #363f45 !important;
        font-weight: 500;
        max-height: calc(100vh - 200px) !important;

        :global(.vtex-mega-menu-2-x-styledLinkContainer){
            height: 48px !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: all 0.3s ease;
            &:hover{
                background-color: #f1f3f4!important;
            }
            :global(.vtex-mega-menu-2-x-styledLinkContent){
                max-width: none !important;
                padding: 4px 0;
                color: #363f45 !important;
                font-size: 14px !important;
            }
            :global(.vtex-mega-menu-2-x-caretIcon){
                color: $color-blue;
            }
        }
    }


    :global(.vtex-mega-menu-2-x-submenuContainer){
        max-width: calc(100vw - 430px) !important;
        height: 100% !important;
        max-height: calc(100vh - 200px) !important;
        padding: 24px 0 32px 24px;

        :global(.vtex-mega-menu-2-x-submenuContainerTitle){
            color: $color-blue;
            :global(.vtex-mega-menu-2-x-seeAllLink){
                color: #000;
            }
        }
        :global(.vtex-mega-menu-2-x-submenuList){
            grid-template-columns: 1fr repeat(3, 1fr) !important;
            gap: 24px 2rem !important;
            :global(.vtex-mega-menu-2-x-styledLinkContainer){
                max-width: 230px !important;
                width: 100%;
                line-height: 1.5;
                white-space: pre-line;
                max-height: 100% !important;
                display: flex;
                gap: 8px;
                :global(.vtex-mega-menu-2-x-styledLinkText){
                    font-size: 14px;
                    color: #6e6e6e;
                    margin-bottom: 10px;
                    padding: 0 4px;
                    transition: all 0.3s ease;
                    text-transform: capitalize;
                    &:hover{
                        // border-left: 3px solid #000c7a;
                        text-decoration: underline;
                    }
                }
            }
            
            :global(.vtex-mega-menu-2-x-seeAllLinkContainer){
                :global(.vtex-mega-menu-2-x-seeAllLink){
                    color: rgb(0,12,122);
                }
            }
        }
    }
}