:global(.vtex-search-result-3-x-searchResultContainer) {
  padding-left: 0;
  padding-right: 0;
}

.flexCol--content-sabana-col {
  flex-direction: row;
  padding: 30px;
  padding-right: 0;
}
.flexCol--content-sabana-col .flexRowContent--container-sabana {
  flex-direction: column;
}
.flexCol--content-sabana-col .flexColChild--content-sabana-col:first-child {
  width: 20%;
}
.flexCol--content-sabana-col .flexColChild--content-sabana-col:last-child {
  width: 80%;
}

.flexRow--breadcrumbs {
  padding-top: 2rem;
  padding-left: 30px;
}
@media only screen and (max-width: 1023px) {
  .flexRow--breadcrumbs {
    padding-top: 1.5rem;
    padding-left: 10px;
  }
}

.flexRowContent--content-row-sabana {
  flex-direction: column;
}
.flexRowContent--content-row-sabana .flexRowContent--orderByAndSwitcher {
  justify-content: space-between;
}
.flexRowContent--content-row-sabana .flexRowContent--orderByAndSwitcher :global(.vtex-flex-layout-0-x-flexColChild--productCountCol) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flexRowContent--content-row-sabana .flexRowContent--orderByAndSwitcher :global(.vtex-flex-layout-0-x-flexColChild--productCountCol) :global(.vtex-search-result-3-x-totalProducts--layout) {
  text-transform: capitalize;
  font-size: 15px;
  padding: 0;
  padding-left: 0.5em;
}
.flexRowContent--content-row-sabana .flexRowContent--orderByAndSwitcher :global(.vtex-search-result-3-x-filterPopupTitle) {
  text-transform: capitalize;
  font-size: 15px;
}
.flexRowContent--content-row-sabana .flexRowContent--orderByAndSwitcher-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexRowContent--content-row-sabana .flexRowContent--container-sabana {
  padding-left: 30px;
  padding-right: 30px;
}

.flexRowContent--orderByAndSwitcher-mobile {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 3rem;
  border-bottom: 1px solid #f2f4f5;
}
.flexRowContent--orderByAndSwitcher-mobile :global(.vtex-search-result-3-x-orderBy--layout) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexRowContent--orderByAndSwitcher-mobile :global(.vtex-search-result-3-x-orderBy--layout) :global(.vtex-search-result-3-x-orderByButton) {
  padding: 0;
}
.flexRowContent--orderByAndSwitcher-mobile :global(.vtex-search-result-3-x-orderBy--layout) :global(.vtex-search-result-3-x-orderByButton) :global(.vtex-search-result-3-x-orderByText) {
  display: block;
  color: #3f3f40;
}
.flexRowContent--orderByAndSwitcher-mobile :global(.vtex-search-result-3-x-orderByOptionsContainer) {
  left: -25px;
}

@media only screen and (max-width: 1023px) {
  :global(.vtex-search-result-3-x-totalProducts--layout) {
    border: none;
  }
}
