.list--wishlist{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    @media(max-width: 1023px){
        grid-template-columns: repeat(2, 1fr);
    }
    .item--wishlist{
        min-height: 500px;
        @media(max-width: 1023px){
            min-height: 300px;
        }
    }
}