:global(.vtex-tab-layout-0-x-container--catalogo) {
  margin: 4rem;
}

:global(.vtex-flex-layout-0-x-flexRow--catalogo-imagenes) {
  margin: 0 4rem;
  display: flex;
}

:global(.vtex-slider-layout-0-x-sliderTrack--mercadeo-slider) {
  width: 100% !important;
  transform: initial !important;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}
:global(.vtex-slider-layout-0-x-sliderTrack--mercadeo-slider) :global(.vtex-slider-layout-0-x-slide--hidden) {
  display: none;
}
@media (max-width: 768px) {
  :global(.vtex-slider-layout-0-x-sliderTrack--mercadeo-slider) {
    flex-direction: column;
  }
}

:global(.vtex-tab-layout-0-x-contentItem) :global(.vtex-slider-layout-0-x-sliderTrack--mercadeo-slider), :global(.vtex-flex-layout-0-x-flexRow--catalogo-imagenes) :global(.vtex-slider-layout-0-x-sliderTrack--mercadeo-slider) {
  width: 100% !important;
  transform: initial !important;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3rem;
}
:global(.vtex-tab-layout-0-x-contentItem) :global(.vtex-slider-layout-0-x-sliderTrack--mercadeo-slider) :global(.vtex-slider-layout-0-x-slide--hidden), :global(.vtex-flex-layout-0-x-flexRow--catalogo-imagenes) :global(.vtex-slider-layout-0-x-sliderTrack--mercadeo-slider) :global(.vtex-slider-layout-0-x-slide--hidden) {
  display: none;
}
:global(.vtex-tab-layout-0-x-contentItem) :global(.vtex-slider-layout-0-x-sliderTrack--mercadeo-slider) :global(.vtex-slider-layout-0-x-infoCardTextContainer--mercadeo-slider), :global(.vtex-flex-layout-0-x-flexRow--catalogo-imagenes) :global(.vtex-slider-layout-0-x-sliderTrack--mercadeo-slider) :global(.vtex-slider-layout-0-x-infoCardTextContainer--mercadeo-slider) {
  display: none;
}

:global(.vtex-tab-layout-0-x-listContainer--catalogo) {
  margin: 2rem 0;
}

:global(.vtex-store-components-3-x-imageElement--catalogo) {
  width: 100%;
  height: 100%;
  max-height: 100% !important;
}
